<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>东华大学图书管理系统</title>
    <link rel="stylesheet" href="/myLibrary/static/css/pintuer.css">
    <link rel="stylesheet" href="/myLibrary/static/css/admin.css">
    <script src="/myLibrary/static/js/jquery.js"></script>
</head>
<body style="background-color:#f2f9fd;">
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="/images/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />东华大学图书管理系统</h1>
  </div>
  <div class="head-l"><a class="button button-little bg-green" href="/user/personnew" >个人信息</a>  &nbsp;&nbsp;
  	<a class="button button-little bg-red" href="login.html" >
  		<span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
    <h2><span class="icon-user"></span>基本设置</h2>
  <ul>
    <li><a href="pass.html" target="right"><span class="icon-caret-right"></span>修改密码</a></li>
    <li><a href="personnew.html" target="right"><span class="icon-caret-right"></span>个人资料</a></li>
  </ul>
    

    <h2><span class="icon-pencil-square-o"></span>图书借阅</h2>
  <ul >
    <li><a href="/book/tableproject" target="right"><span class="icon-caret-right"></span>图书查询</a></li>
    <li><a href="Nopassed.html" target="right"><span class="icon-caret-right"></span>借阅历史</a></li>
      <li><a href="Nopassed.html" target="right"><span class="icon-caret-right"></span>图书续借</a></li>
  </ul>
      <h2><span class="icon-pencil-square-o"></span>借阅排行榜</h2>
 <ul>
    <li><a href="rank.html?type=education" target="right"><span class="icon-caret-right"></span>教育</a></li>
    <li><a href="rank.html?type=literature" target="right"><span class="icon-caret-right"></span>文学</a></li>
    <li><a href="rank.html?type=computer" target="right"><span class="icon-caret-right"></span>计算机</a></li>
     <li><a href="rank.html?type=english" target="right"><span class="icon-caret-right"></span>英语</a></li>
  </ul>  
  <h2><span class="icon-pencil-square-o"></span>常用下载</h2>
    <ul>
     <li><a href="download.html" target="right"><span class="icon-caret-right"></span>文件下载</a></li>  
       </ul>
  <h2><span class="icon-pencil-square-o"></span>登陆日志</h2>
    <ul>
     <li><a href="cate.html" target="right"><span class="icon-caret-right"></span>个人日志</a></li>   
     </ul>  
</div>
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
  
    $(".icon-home").click(function(){
	    $("#a_leader_txt").text("所有公告");
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
  
});


</script>
<ul class="bread">
  <li><a href="info.html" target="right" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">公告信息</a></li>
</ul>
<div class="admin">
   <a>主页公告</a>
  <iframe scrolling="auto" rameborder="0" src="info.html" name="right" width="100%" height="100%"></iframe>
</div>
<div style="text-align:center;">
</div>
</body>
</html>